{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mb-3">Posts by {{ user.username }} ({{ posts.total }}) </h1>
        </div>
        <div class="col">
            <img class="rounded-circle dp" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
        </div>
        <div class=" col">
            <a href="{{ url_for('users.following_list', user_id=user.id) }}"> <h2>Following ({{ user.followed.count() }})</h2> </a>
        </div>
        <div class=" col">
            <a href="{{ url_for('users.follower_list', user_id=user.id) }}"> <h2>Followers ({{ user.followers.count() }})</h2> </a>
        </div>

    </div>
</div>
<div>
{% if current_user.username != user.username %}
    {% if current_user.is_following(user) %}
    <button type="button" class="btn mr-2 p-1 badge btn-outline-danger text-wrap ">
        <a class="link-danger" href="{{ url_for('users.follow', user_id=user.id, action='unfollow') }}" style="text-decoration: none;">Unfollow</a> </button>
    {% else %}
    <button type="button" class="btn mr-2 p-1 badge bg-danger text-wrap">
        <a href="{{ url_for('users.follow', user_id=user.id, action='follow') }}" style="text-decoration: none; color: white;">Follow</a> </button>
    {% endif %}
{% else %}
    <a class="btn mr-2 p-1 badge btn-warning text-wrap" href="{{ url_for('users.account') }}" role="button">edit profile</a>
{% endif %}
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 p-4 m-4 ">
{% for post in posts %}

    <div class="col">
        <div class="card h-100">
            <img src="{{ url_for('static', filename='post_pics/' + post.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>


    {% endfor %}
</div>

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,
    left_current=1, right_current=1) %}
        {% if page_num %}
<div class="m-2">
            {% if posts.page == page_num %}
                <a class="btn btn-outline-info btn-sm" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info m-2" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
</div>
            {% endif %}
        {% else %}
        ...
        {% endif %}
    {% endfor %}
{% endblock content %}

<div class="article-metadata">
    <a class="mr-2 p-1 badge bg-primary text-wrap" style="width: 4rem ; text-decoration: none;" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
    <small class="text-muted text-end">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
</div>